//start table
.table {
	// .table__wrapper
	&__wrapper {
		padding: 50px 0;
	}
	// .table__inner
	&__inner {
		text-align: center;
	}
	// .table__row
	&__row {
		width: 100%;
		display: flex;
	}
	// .table__numbers
	&__numbers {
		padding-right: 40px;
		@media (max-width: 991.98px) {
			padding-right: 20px;
		};
		@media (max-width: 767.98px) {
			padding-right: 10px;
		};
	}
	// .table__list
	&__list {

		// .table__list--nums
		&--nums {
		}
		// .table__list--values
		&--values {
		}
	}
	// .table__item-body
	&__item-body {
		max-height: 100px;
		height: 100%;
		overflow: auto;
		// .table__item-body--center
		&--center {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	// .table__item
	&__item {
		width: 100%;
		border-radius: 10px;
		padding: 15px;
		height: 120px;
		overflow: hidden;
		+ .table__item {
			margin-top: 20px;
			@media (max-width: 767.98px) {
				margin-top: 10px;
			};
		}
		&--center {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&--arrow {
			position: relative;
			&:before {
				position:absolute;
				content: "";
				bottom: 5px;
				left: 50%;
				transform: translateX(-50%);
				width: 15px;
				height: 8px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8'%3E%3Cpath fill='%23fff' fill-rule='nonzero' d='M7.08 7.5c0.17,-0.02 0.33,-0.09 0.46,-0.2l6.46 -5.44c0.19,-0.16 0.3,-0.4 0.3,-0.65 0,-0.47 -0.38,-0.85 -0.85,-0.85 -0.2,0 -0.39,0.07 -0.54,0.2l-5.92 4.98 -5.91 -4.98c-0.15,-0.13 -0.35,-0.2 -0.55,-0.2 -0.47,0 -0.85,0.38 -0.85,0.85 0,0.25 0.11,0.49 0.3,0.65l6.47 5.44c0.15,0.13 0.34,0.2 0.54,0.2 0.03,0 0.06,0 0.09,0l0 0z'/%3E%3C/svg%3E%0A");
			}
		}
		// .table__item--title
		&--title {
			font-size: 18px;
			@media (max-width: 1500px) {
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1500 - 320)));
			};
		}
		// .table__item--num
		&--num {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 32px;
			@media (max-width: 1500px) {
				font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1500 - 320)));
			};
		}
		// .table__item--left
		&--left {
			align-items: flex-start;
			text-align: left;
		}
		// .table__item--mod-1
		&--mod-1 {
			background-color: #a5a5a5;
			@media (max-width: 991.98px) {
				max-width: 70px;
				white-space: nowrap;
			};
		}
		// .table__item--mod-2
		&--mod-2 {
			max-width: 300px;
			background-color: #4f71be;
		}
		// .table__item--mod-3
		&--mod-3 {
			max-width: 400px;
			background-color: #7eab55;
		}
		&--mod-2, 
		&--mod-3, 
		&--mod-4 {
			@media (max-width: 767.98px) {
				max-width: 100%;
				max-width: auto;
				width: 100%;
			};
		}
		&--mod-1, 
		&--mod-4 {
			max-width: 170px;
		}
		// .table__item--mod-4
		&--mod-4 {
			background-color: #6a99d0;
		}
	}
	// .table__long
	&__long {
		@media (max-width: 991.98px) {
			display: none;
		};
	}
	// .table__short
	&__short {
		display: none;
		@media (max-width: 991.98px) {
			display: inline-block;
		};
	}
	// .table__procedures
	&__procedures {
		width: 100%;
		margin: 0 -20px;
		@media (max-width: 991.98px) {
			margin: 0 -10px;
		};
		@media (max-width: 767.98px) {
			margin: 0;
		};
	}
	// .table__swiper-wrap
	&__swiper-wrap {
		position: relative;
		width: 100%;
		overflow: hidden;
		@media (max-width: 767.98px) {
			max-width: 660px;
			@media (max-width: 767.98px) {
				max-width: calc(210px + (660 - 210) * ((100vw - 320px) / (767.98 - 320)));
			};
		};
	}
	// .table__swiper-cont
	&__swiper-cont {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	// .table__swiper-item
	&__swiper-item {
		padding: 0 20px;
		@media (max-width: 991.98px) {
			padding: 0 10px;
		};
		@media (max-width: 767.98px) {
			flex-shrink: 0;
			padding: 0;
		};
	}
	// .table__paragraf
	&__paragraf {
		// .table__paragraf--title
		&--title {
		}
	}
	// .table__paragraf-link
	&__paragraf-link {
		color: #fff;
	}
	// .table__button-prev
	&__button-prev {
		left: -10px;
		border-top-right-radius: 70%;
		border-bottom-right-radius: 70%;
		&:before {
			right: 7px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 15'%3E%3Cpath fill='rgba(0, 0, 0, 0.6)' fill-rule='nonzero' d='M0.45 7.88c0.01,-0.17 0.08,-0.33 0.19,-0.46l5.44 -6.46c0.16,-0.19 0.4,-0.3 0.65,-0.3 0.47,0 0.85,0.38 0.85,0.85 0,0.2 -0.07,0.39 -0.2,0.55l-4.97 5.91 4.97 5.91c0.13,0.16 0.2,0.35 0.2,0.55 0,0.47 -0.38,0.85 -0.85,0.85 -0.25,0 -0.49,-0.11 -0.65,-0.3l-5.44 -6.46c-0.13,-0.16 -0.2,-0.35 -0.2,-0.55 0,-0.03 0,-0.06 0.01,-0.09l0 0z'/%3E%3C/svg%3E%0A");
		}
	}
	// .table__button-next
	&__button-next {
		border-top-left-radius: 70%;
		border-bottom-left-radius: 70%;
		right: -10px;
		&:before {
			left: 7px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 15'%3E%3Cpath fill='rgba(0, 0, 0, 0.6)' fill-rule='nonzero' d='M7.58 7.88c-0.02,-0.17 -0.09,-0.33 -0.2,-0.46l-5.44 -6.46c-0.16,-0.19 -0.4,-0.3 -0.65,-0.3 -0.47,0 -0.85,0.38 -0.85,0.85 0,0.2 0.07,0.39 0.2,0.55l4.98 5.91 -4.98 5.91c-0.13,0.16 -0.2,0.35 -0.2,0.55 0,0.47 0.38,0.85 0.85,0.85 0.25,0 0.49,-0.11 0.65,-0.3l5.44 -6.46c0.13,-0.16 0.2,-0.35 0.2,-0.55 0,-0.03 0,-0.06 0,-0.09l0 0z'/%3E%3C/svg%3E%0A");
		}
	}

	&__button-prev, 
	&__button-next {
		position:absolute;
		content: "";
		top: 50%;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 5;
		transform: translateY(-50%);
		width: 40px;
		height: 100%;
		transition: all 0.3s ease 0s;
		&:before {
			position:absolute;
			content: "";
			top: 50%;
			transform: translateY(-50%);
			width: 13px;
			height: 20px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
		&.swiper-button-disabled {
			opacity: 0;
		}
		@media (min-width: 767.98px) {
			display: none;
		};
	}
}
.container {
	// outline: 1px solid red;
}
//end table