@import "_null.scss";
@import "_libs.scss";
@import "_fonts.scss";


body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	// line-height: 27 / 18 * 100%;
	&.lock {
		overflow-x: hidden;
	}
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}
@import "_global_style.scss";
@import "_content.scss";


