@import "_null.scss";
@import "_libs.scss";
@import "_fonts.scss";


body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 22 / 16 * 100%;
	@media (max-width: 1170px) {
		font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1170 - 320)));
	};
	&.lock {
		overflow-x: hidden;
	}
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}
@import "_global_style.scss";
@import "_content.scss";


