* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 137.5%;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

-moz-scrollbar {
  display: none;
}

.table__wrapper {
  padding: 50px 0;
}

.table__inner {
  text-align: center;
}

.table__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table__list {
  position: relative;
  z-index: 6;
}

.table__item-body {
  position: relative;
  z-index: 5;
  max-height: 100px;
  height: 100%;
  overflow: auto;
}

.table__item-body--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__item {
  position: relative;
  z-index: 5;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  height: 120px;
}

.table__item + .table__item {
  margin-top: 20px;
}

.table__item--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__item--arrow {
  position: relative;
}

.table__item--arrow:before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8'%3E%3Cpath fill='%23fff' fill-rule='nonzero' d='M7.13 5.61c0,0 0,0 0,0 -0.07,0 -0.13,-0.02 -0.18,-0.07l-5.23 -5.22c-0.03,-0.04 -0.05,-0.08 -0.05,-0.13 0,-0.1 0.08,-0.17 0.18,-0.17 0.04,0 0.09,0.01 0.12,0.05l5.16 5.14 5.15 -5.14c0.03,-0.04 0.08,-0.05 0.12,-0.05 0.1,0 0.18,0.07 0.18,0.17 0,0.05 -0.02,0.09 -0.05,0.13l-5.23 5.22c-0.05,0.05 -0.11,0.07 -0.17,0.07 0,0 0,0 0,0l0 0z'/%3E%3Cpath fill='%23fff' fill-rule='nonzero' d='M7.13 7.98c0,0 0,0 0,0 -0.07,0 -0.13,-0.03 -0.18,-0.07l-5.23 -5.23c-0.04,-0.03 -0.06,-0.08 -0.06,-0.13 0,-0.1 0.08,-0.18 0.18,-0.18 0.05,0 0.1,0.03 0.13,0.06l5.16 5.15 5.15 -5.15c0.03,-0.03 0.08,-0.05 0.13,-0.05 0.1,0 0.17,0.08 0.17,0.18 0,0.04 -0.02,0.09 -0.05,0.12l-5.23 5.23c-0.05,0.04 -0.11,0.07 -0.17,0.07 0,0 0,0 0,0l0 0z'/%3E%3C/svg%3E%0A");
}

.table__item--title {
  font-size: 18px;
}

.table__item--title:after {
  display: none;
}

.table__item--num {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.table__item--num:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, -17px);
  width: 10px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 60'%3E%3Cpolygon fill='%236a99d0' fill-rule='nonzero' points='38.76,27.64 20.12,59.93 1.47,27.64 16.91,27.64 16.91,0.06 23.58,0.06 23.58,27.64 '/%3E%3C/svg%3E%0A");
}

.table__item--left {
  align-items: flex-start;
  text-align: left;
}

.table__item--mod-1 {
  background-color: #a5a5a5;
}

.table__item--mod-3 {
  max-width: 400px;
  background-color: #7eab55;
}

.table__item--mod-3:after {
  background-color: #7eab55;
}

.table__item--mod-2:after,
.table__item--mod-3:after,
.table__item--mod-4:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -40.5px;
  width: 40.5px;
  height: 2px;
  z-index: 0;
}

.table__item--mod-2 {
  max-width: 300px;
  background-color: #4f71be;
}

.table__item--mod-2:after {
  background-color: #4f71be;
}

.table__item--mod-1,
.table__item--mod-4 {
  max-width: 170px;
}

.table__item--mod-4 {
  background-color: #6a99d0;
}

.table__item--mod-4:after {
  background-color: #6a99d0;
}

.table__short {
  display: none;
}

.table__procedures {
  width: 100%;
  margin-right: -20px;
}

.table__swiper-wrap {
  padding-left: 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.table__swiper-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table__swiper-item {
  padding: 0 20px;
}

.table__paragraf-link {
  color: #fff;
}

.table__button-prev {
  left: -10px;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}

.table__button-prev:before {
  right: 7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 15'%3E%3Cpath fill='rgba(0, 0, 0, 0.6)' fill-rule='nonzero' d='M0.45 7.88c0.01,-0.17 0.08,-0.33 0.19,-0.46l5.44 -6.46c0.16,-0.19 0.4,-0.3 0.65,-0.3 0.47,0 0.85,0.38 0.85,0.85 0,0.2 -0.07,0.39 -0.2,0.55l-4.97 5.91 4.97 5.91c0.13,0.16 0.2,0.35 0.2,0.55 0,0.47 -0.38,0.85 -0.85,0.85 -0.25,0 -0.49,-0.11 -0.65,-0.3l-5.44 -6.46c-0.13,-0.16 -0.2,-0.35 -0.2,-0.55 0,-0.03 0,-0.06 0.01,-0.09l0 0z'/%3E%3C/svg%3E%0A");
}

.table__button-next {
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
  right: -10px;
}

.table__button-next:before {
  left: 7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 15'%3E%3Cpath fill='rgba(0, 0, 0, 0.6)' fill-rule='nonzero' d='M7.58 7.88c-0.02,-0.17 -0.09,-0.33 -0.2,-0.46l-5.44 -6.46c-0.16,-0.19 -0.4,-0.3 -0.65,-0.3 -0.47,0 -0.85,0.38 -0.85,0.85 0,0.2 0.07,0.39 0.2,0.55l4.98 5.91 -4.98 5.91c-0.13,0.16 -0.2,0.35 -0.2,0.55 0,0.47 0.38,0.85 0.85,0.85 0.25,0 0.49,-0.11 0.65,-0.3l5.44 -6.46c0.13,-0.16 0.2,-0.35 0.2,-0.55 0,-0.03 0,-0.06 0,-0.09l0 0z'/%3E%3C/svg%3E%0A");
}

.table__button-prev,
.table__button-next {
  position: absolute;
  content: "";
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  transform: translateY(-50%);
  width: 40px;
  height: 100%;
  transition: all 0.3s ease 0s;
}

.table__button-prev:before,
.table__button-next:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.table__button-prev.swiper-button-disabled,
.table__button-next.swiper-button-disabled {
  opacity: 0;
}

@media (min-width: 767.98px) {
  .table__button-prev,
  .table__button-next {
    display: none;
  }
}

@media (max-width: 1140px) {
  body {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1140 - 320)));
  }

  .table__item--title {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1140 - 320)));
  }

  .table__item--num {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1140 - 320)));
  }
}

@media (max-width: 991.98px) {
  .table__item--mod-1 {
    max-width: 70px;
    white-space: nowrap;
  }

  .table__item--mod-2:after {
    left: -20px;
    width: 20px;
  }

  .table__item--mod-3:after,
  .table__item--mod-4:after {
    left: -19.5px;
    width: 19.5px;
  }

  .table__long {
    display: none;
  }

  .table__short {
    display: inline-block;
  }

  .table__procedures {
    margin: 0 -10px;
  }

  .table__swiper-item {
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .table__numbers {
    padding-right: 10px;
  }

  .table__item + .table__item {
    margin-top: 10px;
  }

  .table__item--num:before {
    width: 7px;
    height: 9px;
    transform: translate(-50%, -9px);
  }

  .table__item--mod-2:after,
  .table__item--mod-3:after,
  .table__item--mod-4:after {
    display: none;
  }

  .table__item--mod-2,
  .table__item--mod-3,
  .table__item--mod-4 {
    max-width: 100%;
    max-width: auto;
    width: 100%;
  }

  .table__procedures {
    margin: 0;
  }

  .table__swiper-wrap {
    padding-left: 0;
    max-width: 658px;
    max-width: calc(210px + (658 - 210) * ((100vw - 320px) / (767.98 - 320)));
  }

  .table__swiper-item {
    flex-shrink: 0;
    padding: 0;
  }
}